@media(max-width:480px){
.buttons{
  display: flex;
  flex-direction: column;
  /* width: 10vw; */
}
.buttons .class-buttons{
  width: 55vw;
}
.enable{
  font-size: 10px;
}
.home{
  display: none;
}
}
